node_modules
vendor
.git
storage/*.log
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/views/*
storage/app/public/*
bootstrap/cache/*
.phpunit.result.cache
.env.testing
public/hot
public/storage
docker-compose.yml
docker-compose.override.yml
.dockerignore
Dockerfile
Compose.yml
