/vendor/
/node_modules/
npm-debug.log
yarn-error.log

# Laravel
/public/storage
/public/hot
/public/build
/storage/*.key
.env.backup
.env.testing
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
/.idea
/.vscode
/.fleet
/.phpunit.cache

# Evita subir archivos generados o en caché
/storage/framework/cache/data/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/logs/*
/bootstrap/cache/*

# Mac/Windows
.DS_Store
Thumbs.db


.gitignore
CLAUDE.md
.env